/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*--------------------Layout---------------------*/
html {
    box-shadow: inset 0px 10px 40px black;
}

body {
    background: 
    url(../smash_bros_icons.svg) center top no-repeat,
    url(../smash_bros_pic.svg) center bottom no-repeat;
    background-color: #00CED1;
    background-size: 100%;
    overflow-x: hidden;
}
/* smash_bros_icons.svg will be the top, smash_bros_pic.svg will be the bottom */
article {
max-width: 1280px;
width: 90%;
margin: 5em auto 6em auto;
background-color: red;
color: white;
position: relative;
}
blockquote{
    margin-top: 20px;
}
blockquote:after {
   content: attr(cite);
   font-size: 75%;
   right: 3em;
 }
article:before {
    content: url(../smashbackground.svg);
    position: absolute;
    top: -5em;
    z-index: -100;
    width: 100%;
    overflow: hidden;
}

header:before {
content: url(../mario.svg);
position: absolute;
right: -2em;
top: -2em;
}
header:after {
content: url(../wario.svg);
position: absolute;
bottom: -3em;
right: -1.5em;
}

video, img {
    width: 100%;
    height: auto;
}

#smashpic {
    max-width: 60%;
    margin: 0 auto;
    display: block;
   }
   
  #wikiInfo img, span, table, tr, sup, ul, dl, .editsection, .dablink, .infobox, .toc,
  .hatnote, .thumbcaption, .wikitable, .plainrowheaders, 
  .sortable, .reflist, .references-column-width, .external, .text {
    display: none;
  }
  
   #wikiInfo .mw-headline {
    display: inline;
    margin-left: 200px;
  }
 /* #References, #See_also, #External_links {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    display: none;
    visibility: hidden;
  }*/

/*-----------------------Typography----------------------*/

@font-face {
    font-family: 'super_smash_4.1regular';
    src: url('fonts/smashbrosfont-webfont.eot');
    src: url('fonts/smashbrosfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/smashbrosfont-webfont.woff2') format('woff2'),
         url('fonts/smashbrosfont-webfont.woff') format('woff'),
         url('fonts/smashbrosfont-webfont.ttf') format('truetype'),
         url('fonts/smashbrosfont-webfont.svg#super_smash_4.1regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, small {
font-family: 'super_smash_4.1regular';
text-align: center;
margin: .1em;
padding: 0;
display: block;
}

p {
    line-height: 1.2em;
    max-width: 36em;
     margin: 0 auto;
     margin-top: .8em;
}


/*-------------------------------Animation----------------------------------*/

@-moz-keyframes horizontalSweep {
    0% {
        left: 0%;
        z-index: -200;

    }
    20% {
        left: 10%;
        top: 1em;

            }
    30% {
        left: 25%;
       
        z-index: 100;
            }

    50% {
        left: 60%;
        top: 2em;
        z-index:-200;
        }
        60%
        {
        left: 65%;
        top: 0;
        }

    80% {
        left: 75%;
        top: 1em;
        z-index: 100;
            }

     100% {
        left: 100%;
        top: 0em;
        z-index: -200;
    }    
}

@-webkit-keyframes horizontalSweep {
    0% {
        left: 0%;
        z-index: -200;

    }
    20% {
        left: 10%;
        top: 1em;

            }
    30% {
        left: 25%;
       
        z-index: 100;
            }

    50% {
        left: 60%;
        top: 2em;
        z-index:-200;
        }
        60%
        {
        left: 65%;
        top: 0;
        }

    80% {
        left: 75%;
        top: 1em;
        z-index: 100;
            }

     100% {
        left: 100%;
        top: 0em;
        z-index: -200;
    }    
}

@-ms-keyframes horizontalSweep {
    0% {
        left: 0%;
        z-index: -200;

    }
    20% {
        left: 10%;
        top: 1em;

            }
    30% {
        left: 25%;
       
        z-index: 100;
            }

    50% {
        left: 60%;
        top: 2em;
        z-index:-200;
        }
        60%
        {
        left: 65%;
        top: 0;
        }

    80% {
        left: 75%;
        top: 1em;
        z-index: 100;
            }

     100% {
        left: 100%;
        top: 0em;
        z-index: -200;
    }    
}

@keyframes horizontalSweep {
    0% {
        left: 0%;
        z-index: -200;

    }
    20% {
        left: 10%;
        top: 1em;

            }
    30% {
        left: 25%;
       
        z-index: 100;
            }

    50% {
        left: 60%;
        top: 2em;
        z-index:-200;
        }
        60%
        {
        left: 65%;
        top: 0;
        }

    80% {
        left: 75%;
        top: 1em;
        z-index: 100;
            }

     100% {
        left: 100%;
        top: 0em;
        z-index: -200;
    }    
}
#ball {
    background-image: url(../burningball.svg);
   width: 250px;
    height: 250px;
    position: absolute;
    top: -6em;
    left: 0;
    -moz-animation-name: horizontalSweep;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-delay: 1.5s;

    -webkit-animation-name: horizontalSweep;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 1.5s;

    -ms-animation-name: horizontalSweep;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-delay: 1.5s;

    animation-name: horizontalSweep;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1.5s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
